In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 1- data mining

In [13]:
import datetime

In [ ]:
pd.to_datetime(ind.index, format = "%Y%m").to_period('M')

In [14]:
delta_time = datetime.timedelta(days = 365)
end = datetime.datetime.now()
start = end - delta_time
print("Start : " ,start)
print("End : ", end)

Start :  2019-06-02 20:57:02.509097
End :  2020-06-01 20:57:02.509097


ind.index = pd.to_datetime(ind.index, format = "%Y%m").to_period('M')

In [12]:
tickers = "^NDQ ^BVP ^DJI ^SPX ^CAC ^DAX ^NKX ^HSI".split()
ticker_names = "Nasdaq Bovespa Down_Jones_ind SP500 CAC40 DAX Nikkey225 Hang_Seng".split()

In [29]:
df_close_01 = pd.read_csv('../EDHEC/1- Returns/index01_close.csv', index_col= 0, parse_dates=True)

In [32]:
df_close_01

,Nasdaq,Bovespa,Down_Jones_ind,SP500,CAC40,DAX,Nikkey225,Hang_Seng
Date,,,,,,,,
2019-04-08,7953.880,97369.29,26341.02,2895.77,5471.78,11963.40,21761.65,30077.15
2019-04-09,7909.280,96291.79,26150.58,2878.20,5436.42,11850.57,21802.59,30157.49
2019-04-10,7964.240,95953.45,26157.16,2888.21,5449.88,11905.91,21687.57,30119.56
2019-04-11,7947.360,94754.70,26143.05,2888.32,5485.72,11935.20,21711.38,29839.45
2019-04-12,7984.160,92875.00,26412.30,2907.41,5502.70,11999.93,21870.56,29909.76
...,...,...,...,...,...,...,...,...
2020-03-30,7774.151,74639.50,22327.48,2626.65,4378.51,9815.97,19084.97,23175.11
2020-03-31,7700.098,73019.80,21917.16,2584.59,4396.12,9935.84,18917.01,23603.48
2020-04-01,7360.582,70966.70,20943.51,2470.50,4207.24,9544.75,18065.41,23085.79
2020-04-02,7487.311,72253.50,21413.44,2526.90,4220.96,9570.82,17818.72,23280.06
2020-04-03,7373.082,69537.60,21052.53,2488.65,4154.58,9525.77,17820.19,23236.11

In [28]:
df_close_01.sum(axis = 1)

Date
2019-04-08    203833.940
2019-04-09    202476.920
2019-04-10    202125.980
2019-04-11    200705.180
2019-04-12    199461.820
                 ...
2020-03-30    163822.341
2020-03-31    162074.098
2020-04-01    156644.482
2020-04-02    158571.711
2020-04-03    155188.512
Length: 251, dtype: float64