In [1]:
import numpy as np
import pandas as pd

In [2]:
lst_01 = list(range(1,15))
lst_01

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [3]:
def square(n):
    return n*n

In [4]:
square(2)

4

In [5]:
square(lst_01)

TypeError: can't multiply sequence by non-int of type 'list'

### map()

In [6]:
list(map(square,lst_01))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [7]:
dc_01 = {'number': lst_01,
        'squared': list(map(square,lst_01))}
df_01 = pd.DataFrame(dc_01)

In [8]:
df_01

    number  squared
0        1        1
1        2        4
2        3        9
3        4       16
4        5       25
5        6       36
6        7       49
7        8       64
8        9       81
9       10      100
10      11      121
11      12      144
12      13      169
13      14      196

### sum in horizontal axis

In [9]:
df_01.sum(axis = 1)

0       2
1       6
2      12
3      20
4      30
5      42
6      56
7      72
8      90
9     110
10    132
11    156
12    182
13    210
dtype: int64

### .apply()

In [10]:
df_01[df_01.columns[0]].apply(square)

0       1
1       4
2       9
3      16
4      25
5      36
6      49
7      64
8      81
9     100
10    121
11    144
12    169
13    196
Name: number, dtype: int64

### .agg()

In [11]:
df_01.agg(sum,axis = 1)

0       2
1       6
2      12
3      20
4      30
5      42
6      56
7      72
8      90
9     110
10    132
11    156
12    182
13    210
dtype: int64

In [12]:
df_01.aggregate(sum, axis = 1)

0       2
1       6
2      12
3      20
4      30
5      42
6      56
7      72
8      90
9     110
10    132
11    156
12    182
13    210
dtype: int64